@font-face {
    font-family: all;
    src: url(assets/fonts/FbRotonda-Regular.otf);
}
html{
    height: 100%;
    box-sizing: border-box;
    direction: rtl;   
}
.disable_scroll{
    overflow: hidden;
    height: 100%;
}
.MainBox{
    font-family: all;
}
.headBox{
    overflow-wrap: normal;
    padding-top: 6vh;
    text-align: center;
}

.HeadinfoBox,.h1Box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    width: auto;
    object-fit: scale-down;
}
.formBox{
    width: 80%;
    margin-right: 10%;
    padding-bottom: 30px;
    font-size: 16px;
}
.SubmitionBox{
    margin-bottom: 30px;
}
.functionBox{
    border: solid 0.6px rgb(200, 200, 200,0.7);
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 0;
}   
.functionLabel{
    padding: 10px;
    padding-right: 20px;
    border-radius: 20px 20px 0 0 ;
    background-color: #DFB725;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: border-radius 200ms linear;

}
.functionLabel:hover{
    cursor: pointer;   
}
.FirstfunctionLabel{
    border-radius: 20px;
    text-align: center;
}
.FirstfunctionLabel:hover{
    cursor: default;
}
.FNCTTglBox{
    display: flex;
    align-items: center;
    gap: 5px;
}
.FNCTglHouse{
    border: 2px solid #937002;
    background-color: #FFE9A4;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    direction: rtl;
    width: 100px;
    height: 40px;
}
.FNCTglHouseOFF{
    direction: ltr;

}
.FNCTglHouse:hover{
    cursor: pointer;
}
.note{
    font-size: 10px;
}
.FNCTglBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #D34607;
    color: #842F00;
    border-radius: 20px;
}
.TglBtnBox{
    display: flex;
    justify-content: end;
}
.functionLabel img{
    height: 20px;
    width: 25px;
    transition: transform 200ms linear;
}
.ClosedImg{
    transform: rotate(180deg);
    transition: transform 200ms linear;
}
.cloapsable{
    max-height: max-content;
    transition: max-height 200ms ease, padding 200ms linear;
    overflow: hidden;
}
.functionInputs{
    display: flex;
    border-radius: 0 0 20px 20px;
    padding: 10px 8px 10px 0;
    background-color: #FFE9A4;
    max-height: max-content;
    transition: max-height 200ms linear, padding 200ms linear;
    overflow: hidden;
}

.fullborder{
    border-radius: 0;
}
.functionLabelHiddenInput {
    border-radius: 20px;
}
.functionLabelDisable{
    cursor: not-allowed;
    pointer-events: none;
}
.functionInputsHidden{
    padding: 0;
    max-height: 0;
}

.functionSubLabel{
    padding: 10px;
    padding-right: 20px;
    background-color: #E0C263;
    /* border-radius:0 ; */
}
.functionInputs input{
    width: 90px;
    border: #DFB725 0.5px solid;
    border-radius: 20px;
    padding-right: 10px;
    margin-right: 5px;
    height: 40px;
}
.functionInputs input:focus{
    /* border: #937002; */
    outline: #937002 2px solid;
    border: none;
}
.ParamterBox label{
    overflow-wrap: break-word;
}
.hiddenBox {
    display: none;
}

.infoBox {
    /* width: 40%;
    right: 30%; */
    display:inline-block;
    position: fixed;
    height: 25%;
    text-align: center;
    top: 30%;
    z-index:10 ;
    border:  #937002 3px solid;
    background-color: #DFB725;
    border-radius: 20px;
}
#conirmContent{
    margin: 5% 0 5% 0;
}
#exitConfirm{
    outline: #937002 2px solid;
    border: none;
    border-radius: 20px;
    padding: 5px 15px ;
    background-color: #FFE9A4;
    /* background-color: #E0C263; */
}
.SubmitionBox{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.formBtn{
    /* margin: auto; */
    outline: #937002 2px solid;
    border: none;
    border-radius: 20px;
    padding: 5px 15px ;
    background-color: #DFB725;
    color: black;
}
.row{
    width: 100%;
    margin: 0;
}

@media (max-width: 1400px) {/* Medium screens */
    .H1{
        font-size: 50px;
        font-weight: bold;
    }
    .logo{
        height: 200px;
    }
    .formBox{
        margin-top: 10vh;
    }
    .infoBox {
        width: 40%;
        right: 30%;
    }
    .FNCTglHouse{
        width: 100px;
        height: 40px;
    }
    .FNCTglBtn{
        width: 50px;
        height: 38px;
    }
    
}
@media (max-width: 768px) {/*small screens */
    .H1{
        font-size: 16px;
        font-weight: bold;
    }
    .headBox{
        div{margin: 1vh;}
    }
    .Headinfo{
        margin: 0;
        font-size: 15px;
    }
    .logo{
        height: 100px;
    }
    .formBox{
        margin-top: 5vh;
    }
    .infoBox {
        width: 70%;
        right: 15%;
    }
    .FNCTTglBox{
        justify-content: center;
    }
    .FNCTglHouse{
        margin: 10px;
    }
}
