html{
    height: 100%;
    box-sizing: border-box;
    direction: rtl;
}
.MainBox{
    font-family: 'Courier New';
}
.headBox{
    overflow-wrap: normal;
    padding-top: 6vh;
    text-align: center;
}

.HeadinfoBox,.h1Box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.logo{
    width: auto;
    object-fit: scale-down;
}
.formBox{
    width: 80%;
    margin-right: 10%;
}
.functionBox{
    border: solid 0.6px rgb(200, 200, 200,0.7);
    border-radius: 20px;
}   
.functionLabel{
    padding: 10px;
    padding-right: 20px;
    border-radius: 20px 20px 0 0 ;
    background-color: #DFB725;
}
.functionInputs{
    border-radius: 0 0 20px 20px;
    padding: 10px 0 10px 0;
    padding-right: 20px;
    background-color: #F2D67E;
}
.functionInputs input{
    width: 45px;
}
.ParamterBox label{
    overflow-wrap: break-word;
}

@media (max-width: 1400px) {/* Medium screens */
    .H1{
        font-size: 50px;
        font-weight: bold;
    }
    .logo{
        height: 200px;
    }
    .formBox{
        margin-top: 10vh;
    }
}
@media (max-width: 768px) {/*small screens */
    .H1{
        font-size: 16px;
        font-weight: bold;
    }
    .headBox{
        div{margin: 1vh;}
    }
    .Headinfo{
        margin: 0;
        font-size: 15px;
    }
    .logo{
        height: 100px;
    }
    .formBox{
        margin-top: 5vh;
    }
}
