html{
    height: 100%;
    box-sizing: border-box;
    direction: rtl;
    background-color: #F2D67E;
}
.MainBox{
    font-family: 'Courier New';
    background-color: #F2D67E;
    /* background-color: #DFB725; */
}
.headBox{
    overflow-wrap: normal;
    padding-top: 6vh;
    text-align: center;
}

.HeadinfoBox,.h1Box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.logo{
    width: auto;
    object-fit: scale-down;
}


@media (max-width: 1400px) {/* Medium screens */
    .H1{
        font-size: 50px;
        font-weight: bold;
    }
    .logo{
        height: 200px;
    }
    .formBox{
        margin-top: 10vh;
    }
}
@media (max-width: 768px) {/*small screens */
    .H1{
        font-size: 16px;
        font-weight: bold;
    }
    .headBox{
        div{margin: 1vh;}
    }
    .Headinfo{
        margin: 0;
        font-size: 15px;
    }
    .logo{
        height: 100px;
    }
    .formBox{
        margin-top: 5vh;
    }
}
