<!-- <div class="functionBox container-fluid">
                    <div class="functionLabel row">שלב #2 שטיפה במים</div>
                    <div class="functionInputs row fullborder">
                        <div class="col-12 ParamterBox">
                            <label for="InitialWaterFlud">משך זמן מילוי מים ראשוני בשניות</label>
                            <input type="number" id="InitialWaterFlud" name="InitialWaterFlud" required>
                        </div>
                    </div>
                    <div class="row functionSubLabel">התזת מים בינונית</div>
                    <div class="functionInputs row fullborder">
                        <div class="col-12 col-md-3 ParamterBox">
                            <label for="recureMedSquirt">כמות חזרות</label>
                            <input type="number" id="recureMedSquirt" name="recureMedSquirt" required>
                        </div>
                        <div class="col-12 col-md-4 ParamterBox">
                            <label for="medSquirtWaterOn">משך כניסת מים בכל חזרה בשניות</label>
                            <input type="number" id="medSquirtWaterOn" name="medSquirtWaterOn" required>
                        </div>
                        <div class="col-12 col-md-5 ParamterBox">
                            <label for="medSquirtWaterOff">משך ניקוז ללא מים בכל חזרה בשניות</label>
                            <input type="number" id="medSquirtWaterOff" name="medSquirtWaterOff" required>
                        </div>
                    </div>
                    <div class="row functionSubLabel">התזת מים קצרה</div>
                    <div class="functionInputs row fullborder">
                        <div class="col-12 col-md-3 ParamterBox">
                            <label for="recureShortSquirt">כמות חזרות</label>
                            <input type="number" id="recureShortSquirt" name="recureShortSquirt" required>
                        </div>
                        <div class="col-12 col-md-4 ParamterBox">
                            <label for="ShortSquirtWaterOn">משך כניסת מים בכל חזרה בשניות</label>
                            <input type="number" id="ShortSquirtWaterOn" name="ShortSquirtWaterOn" required>
                        </div>
                        <div class="col-12 col-md-5 ParamterBox">
                            <label for="ShortSquirtWaterOff">משך ניקוז ללא מים בכל חזרה בשניות</label>
                            <input type="number" id="ShortSquirtWaterOff" name="ShortSquirtWaterOff" required>
                        </div>
                    </div>
                    <div class="row functionSubLabel fullborder">התזת מים ארוכה</div>
                    <div class="functionInputs row fullborder">
                        <div class="col-12 col-md-3 ParamterBox">
                            <label for="recureLongSquirt">כמות חזרות</label>
                            <input type="number" id="recureLongSquirt" name="recureLongSquirt" required>
                        </div>
                        <div class="col-12 col-md-4 ParamterBox">
                            <label for="LongSquirtWaterOn">משך כניסת מים בכל חזרה בשניות</label>
                            <input type="number" id="LongSquirtWaterOn" name="LongSquirtWaterOn" required>
                        </div>
                        <div class="col-12 col-md-5 ParamterBox">
                            <label for="LongSquirtWaterOff">משך ניקוז ללא מים בכל חזרה בשניות</label>
                            <input type="number" id="LongSquirtWaterOff" name="LongSquirtWaterOff" required>
                        </div>
                    </div>
                    <div class="functionInputs row">
                        <div class="col-12 ParamterBox">
                            <label for="RinseWaterWithPump">משך זמן רחיצה במים עם משאבה לבניית לחץ</label>
                            <input type="number" id="RinseWaterWithPump" name="RinseWaterWithPump" required>
                        </div>
                    </div>
                </div>
                <div class="functionBox container-fluid">
                    <div class="functionLabel row">שלב #3 דחיקת מים לאחר שטיפה ראשונה החוצה עם אוויר</div>
                    <div class="functionInputs row">
                        <div class="col-12 col-md-3 ParamterBox">
                            <label for="PostWaterPurgeRecure">כמות חזרות</label>
                            <input type="number" id="PostWaterPurgeRecure" name="PostWaterPurgeRecure" required>
                        </div>
                        <div class="col-12 col-md-4 ParamterBox">
                            <label for="PostWaterPurgeTon">משך כניסת אוויר בכל חזרה בשניות</label>
                            <input type="number" id="PostWaterPurgeTon" name="PostWaterPurgeTon" required>
                        </div>
                        <div class="col-12 col-md-5 ParamterBox">
                            <label for="PostWaterPurgeToff">משך ניקוז ללא אוויר בכל חזרה בשניות</label>
                            <input type="number" id="PostWaterPurgeToff" name="PostWaterPurgeToff" required>
                        </div>
                    </div>
                </div>
                <div class="functionBox container-fluid">
                    <div class="functionLabel row">שלב #4 ניקוי בסודה קאוסטיק</div>
                    <div class="functionInputs row fullborder">
                        <div class="col-12 ParamterBox">
                            <label for="InitialCausticFlud">משך זמן מילוי סודה קאוסטיק ראשוני- ל2 החביות בשניות</label>
                            <input type="number" id="InitialCausticFlud" name="InitialCausticFlud" required>
                        </div>
                    </div>
                    <div class="functionInputs row fullborder">
                        <div class="col-12 col-md-6 ParamterBox">
                            <label for="CausticRinseKeg1">משך רחיצה קאוסטית חבית ימין בשניות</label>
                            <input type="number" id="CausticRinseKeg1" name="CausticRinseKeg1" required>
                        </div>
                        <div class="col-12 col-md-6 ParamterBox">
                            <label for="CausticRinseKeg2">משך רחיצה קאוסטית חבית שמאל בשניות</label>
                            <input type="number" id="CausticRinseKeg2" name="CausticRinseKeg2" required>
                        </div>
                    </div>
                    <div class="row functionSubLabel">כניסת קאוסטית לחבית ללא יציאת הקאוסטיק לבניית לחץ</div>
                    <div class="functionInputs row fullborder">
                        <div class="col-12 col-md-6 ParamterBox">
                            <label for="pressurizeCausticInKeg">משך דחיסת הקאוסטיק לחבית בשניות</label>
                            <input type="number" id="pressurizeCausticInKeg" name="pressurizeCausticInKeg" required>
                        </div>
                        <div class="col-12 col-md-6 ParamterBox">
                            <label for="causticSoakInKeg">משך השריית קאוסטיק בחבית בלחץ בשניות</label>
                            <input type="number" id="causticSoakInKeg" name="causticSoakInKeg" required>
                        </div>
                    </div>
                    <div class="functionInputs row fullborder">
                        <div class="col-12 ParamterBox">
                            <label for="SecondCausticFlud">משך זמן מילוי סודה קאוסטיק שני- ל2 החביות בשניות</label>
                            <input type="number" id="SecondCausticFlud" name="SecondCausticFlud" required>
                        </div>
                    </div>
                    <div class="row functionSubLabel fullborder">התזת קאוסטיק קצרה</div>
                    <div class="functionInputs row fullborder">
                        <div class="col-12 col-md-3 ParamterBox">
                            <label for="recureShortCausticSquirt">כמות חזרות</label>
                            <input type="number" id="recureShortCausticSquirt" name="recureShortCausticSquirt" required>
                        </div>
                        <div class="col-12 col-md-4 ParamterBox">
                            <label for="CausticSquirtPumpOn">משך הפעלת משאבה בשניות</label>
                            <input type="number" id="CausticSquirtPumpOn" name="CausticSquirtPumpOn" required>
                        </div>
                        <div class="col-12 col-md-5 ParamterBox">
                            <label for="CausticSquirtPumpOff">משך כיבוי משאבה בשניות</label>
                            <input type="number" id="CausticSquirtPumpOff" name="CausticSquirtPumpOff" required>
                        </div>
                    </div>
                    <div class="row functionSubLabel fullborder">התזת קאוסטיק בשילוב אוויר</div>
                    <div class="functionInputs row fullborder">
                        <div class="col-12 col-md-6 ParamterBox">
                            <label for="recurePurgeCausticSquirt">כמות חזרות</label>
                            <input type="number" id="recurePurgeCausticSquirt" name="recureShortCausticSquirt" required>
                        </div>
                        <div class="col-12 col-md-6 ParamterBox">
                            <label for="airAndPumpIntervale">אינטרוול אוויר ומשאבה בשניות</label>
                            <input type="number" id="airAndPumpIntervale" name="airAndPumpIntervale" required>
                        </div>
                    </div>
                    <div class="row functionSubLabel fullborder">התזת קאוסטיק ארוכה- לאחר התזה בשילוב אוויר</div>
                    <div class="functionInputs row">
                        <div class="col-12 col-md-3 ParamterBox">
                            <label for="recureLastCausticSquirt">כמות חזרות</label>
                            <input type="number" id="recureLastCausticSquirt" name="recureLastCausticSquirt" required>
                        </div>
                        <div class="col-12 col-md-4 ParamterBox">
                            <label for="CausticLastSquirtPumpOn">משך הפעלת משאבה בשניות</label>
                            <input type="number" id="CausticLastSquirtPumpOn" name="CausticLastSquirtPumpOn" required>
                        </div>
                        <div class="col-12 col-md-5 ParamterBox">
                            <label for="CausticLastSquirtPumpOff">משך כיבוי משאבה בשניות</label>
                            <input type="number" id="CausticLastSquirtPumpOff" name="CausticLastSquirtPumpOff" required>
                        </div>
                    </div>
                    
                </div> -->

                value="{{ settings['FirstAirPurgeRecure'] }}" 
       placeholder="{{ settings['FirstAirPurgeRecure'] }}"